<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <div class="login-form">
            <h2 class="form-title">Ingresar</h2>
            {% if error %}
            <p class="form-error">{{ error }}</p>
            {% endif %}
            <form action="/login" method="post">
                <div class="form">
                    <label for="correo">Email:</label>
                    <input type="email" id="correo" name="correo" required autofocus>
                    <br>
                    <label for="contrasena">Password:</label>
                    <input type="password" id="contrasena" name="contrasena" required>
                    <br>
                    <button class="form-button" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>